/*
COLOR PALLETE
https://coolors.co/01161e-124559-598392-aec3b0-eff6e0
#01161E - rich black
#124559 - midnight green
#598392 - air force blue
#AEC3B0 - ash gray
#EFF6E0 - beige
*/


/* Global styles
--------------------------------*/
body {
    color: #01161E;
}
img {
    width: 300px;
}
a {
    color: #124559;
}
a:hover {
    text-decoration: none;
}


/* Profile
--------------------------------*/
header {
    background-color: #124559;
    color: white;
}

/* Projects
--------------------------------*/
.projects {
    background: #598392;
}
.projects a {
    color: white;
}
.projects .btn {
    color: #EFF6E0;
    background: #01161E;
    text-decoration: none;
    padding: 4px;
    border-radius: 4px;
}
.projects .btn:hover {
    background: rgba(174,195,176,80%);
}

/* Work Experience
--------------------------------*/
.work-experience {
    background-color: #AEC3B0;
}


/* Education
--------------------------------*/
.education {
    background-color: ;
}


/* Contact Info
--------------------------------*/
footer {
    background-color: #124559;
    color: white;
}
footer a {
    color: white;
}